main {
  min-height: 77.2vh;
}
.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 1rem auto;
}

h1 {
  text-align: center;
}

.contact-box {
  width: 80vw;
  border-radius: 1rem;
  gap: 1rem;
  min-height: 200px;
  margin-bottom: 1rem;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-media {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.social-media div {
  display: flex;
  justify-content: center;
}

@media (min-width: 769px) {
  .contact-wrapper {
    gap: 1rem;
    width: calc(80vw + 1rem);
  }
  .contact-box {
    width: 40vw;
  }
}
