.hero {
    color: var(--text-color);
    aspect-ratio: 16 / 9;
    padding: 2rem;
    width: 100%;
    max-height: 420px; /* cap for desktop versjon */
    position: relative;
    overflow: hidden;
}

.hero-slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    padding: 1rem;
    background: linear-gradient(rgba(207, 207, 207, 0.55), rgba(131, 131, 131, 0.55)),
    url(../../public/assets/img/example-header.jpg) center / cover no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-slide.active {
    opacity: 1;
}

.hero-prev,
.hero-next {
    z-index: 10;

    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;

    background: rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    color: #f5f5f5;
}

.hero-prev {
    left: 0;
}

.hero-next {
    right: 0;
}

.hero-prev:hover,
.hero-next:hover {
    background: rgba(0, 0, 0, 0.4);
    transition: .3s;
}


.hero h1 {
    font-size: 20px;
    text-align: center;
}

.hero p {
    font-size: 12px;
    margin-top: 1rem;
}

.arrangement-link {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    background-color: var(--primary-color);
    position: relative;
    z-index: 5;

    padding: .5rem 1rem;
    border-radius: 32px;
    margin-top: 1rem;
   display: inline-block;
}

.arrangement-link:hover {
    background-color: rgb(4, 0, 255);
    transition: .3s;
}



.hero-content {
    padding: 2rem;
}



/* support styling */

#support-btn {
    position: fixed;
    bottom: 24px;
  right: 24px;

 width: 60px;
  height: 60px;
  border-radius: 50%;

  background-color: var(--primary-color);
  border: none;

  font-size: 26px;
  cursor: pointer;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.295);
  z-index: 1000;
}

#support-btn:hover {
    font-size: 34px;
    transition: .3s;
    background-color: rgb(4, 0, 255);
}

#close-support-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 20px;
    font-weight: 600;
    
    border-radius: 50%;
    cursor: pointer;
    border: none;

    background-color: var(--primary-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.295);

    width: 36px;
    height: 36px;
    transition: 0.2s;
}

#close-support-btn:hover {
    transform: translateY(-2px);
}

#submit-support-btn {
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.295);
    border: none;
    font-weight: 600;
    font-size: 1.2rem;
    transition: 0.2s;
    cursor: pointer;
}

#submit-support-btn:hover {
    transform: translateY(-2px);
    font-size: 1.5rem;
}



#support-box {
    position: fixed;
    inset: 0;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.5);

    justify-content: center;
    align-items: center;

    display: none;
}


#support-box.active {
    display: flex;
}

.support-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.494);
}


.support-header h2 {
    margin: 0;
    font-size: 2rem;
    line-height: 1;
}


.support-content {
    display: flex;
    flex-direction: column;

    
    background-color: #f5f5f5;

    border-radius: 2rem;
    padding: 2rem;

    max-width: 400px;
    width: 90%;
   
}


#support-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#support-form input,
#support-form textarea {
    border-radius: 10px;
    resize: vertical;
    padding: .5rem;
}







/* tablet */

@media (min-width: 768px) {

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 24px;
    }

    .arrangement-link {
        padding: 1.5rem 4rem;
        margin-top: 2rem;
    }

     .hero-next, 
    .hero-prev {
        width: 70px;
        font-size: 32px;
    }

    #support-btn {
        width: 90px;
        height: 90px;
        font-size: 32px;

        right: 40px;
        bottom: 40px;

    }


    /* support styling */

    #support-btn:hover {
    font-size: 40px;
    transition: .3s;
    background-color: rgb(4, 0, 255);
}


}

/* desktop */

@media (min-width: 1024px) {
    .hero h1 {
        font-size: 48px;
    }

    .hero p {
        font-size: 28px;
    }

    .arrangement-link {
        padding: 1.5rem 5rem;
        margin-top: 3rem;
    }

    .hero-next, 
    .hero-prev {
        width: 120px;
        font-size: 32px;
    }
   

}