.container {
  display: grid;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.create-post {
  display: flex;
}

button {
  /* all: unset; */
  cursor: pointer;
}
